In [9]:
nums = [1,2,3,4,5,6,7]
for i in nums:
    sq = i**2
    print("integer:",i,"square value:",sq)

integer: 1 square value: 1
integer: 2 square value: 4
integer: 3 square value: 9
integer: 4 square value: 16
integer: 5 square value: 25
integer: 6 square value: 36
integer: 7 square value: 49

In [1]:
nums = [12, 7, 9, 14, 22, 5, 30]
for i in nums:
    if i % 2 ==0:
        sq = i**2
        print("integers:",i,"square value:",sq)

integers: 12 square value: 144
integers: 14 square value: 196
integers: 22 square value: 484
integers: 30 square value: 900

In [4]:
nums = [12, 7, 9, 14, 22, 5, 30, 11, 3]
odd_sum = 0
for i in nums:
    if i%2!=0:
        odd_sum = odd_sum+i
        print(odd_sum)

7
16
21
32
35

In [2]:
nums = [15, 3, 8, 6, 10, 27, 12, 5, 18]
for i in nums:
    if i%3 ==0 and i%5==0:
        print(i)

15

In [3]:
nums = [5, 12, 7, 15, 30, 8, 20, 10]
product =1
for i in nums:
    if i%5==0:
        product = product*i
        print(product)

5
75
2250
45000
450000

In [2]:
nums = [9, 2, 15, 4, 6, 18, 20, 1, 25]
for i in nums:
    if i%2==0 or i%5==0:
        if i >10:
            print(i)

15
18
20
25

In [4]:
nums = [3, 12, 15, 7, 10, 2, 18, 25, 30, 5]
large = 0
for i in nums:
    if i%5==0 and i>10:
        if i>large:
            large = i
            print("largest:",large)

largest: 15
largest: 25
largest: 30

In [3]:
nums = [8, 15, 6, 21, 10, 3, 14, 20, 5]
total_sum = 0
for i in nums:
    if i%2==0 and i%3==0:
        total_sum = total_sum+i
print(total_sum)

6

In [2]:
nums = [12, 5, 9, 14, 20, 7, 15]
for i in nums:
    if i % 2!=0:
        square = i**2
        print("the odd numbers are:",i,"squared numbers are:",square)

the odd numbers are: 5 squared numbers are: 25
the odd numbers are: 9 squared numbers are: 81
the odd numbers are: 7 squared numbers are: 49
the odd numbers are: 15 squared numbers are: 225

In [9]:
nums = [12, 5, 9, 14, 20, 7, 15, 22, 33, 10, 25]
for i in nums:  
    if i>10:
        cube = i**3
        if i%5==0:
            if i%2!=0:
                
               print("divisible numbers:",i,"cube root:",cube)

divisible numbers: 15 cube root: 3375
divisible numbers: 25 cube root: 15625

In [4]:
nums = [15, 6, 22, 9, 30, 5, 18, 14, 25, 3, 10, 27]
for i in nums:
    if i%2!=0:
        if i>10:
            if i%3==0 or i%5==0:
                if i%7!=0:
                    sqaure = i**2
                    print("numbers are:",i,"sqaured number:",sqaure)

numbers are: 15 sqaured number: 225
numbers are: 25 sqaured number: 625
numbers are: 27 sqaured number: 729

In [1]:
nums = [18, 33, 45, 22, 9, 12, 27, 50, 7, 28, 55, 42, 60]
for i in nums:
    if i%3==0 and i%5==0:
        if i>20:
            if i%2!=0 or i%7==0:
                if i%4!=0:
                    num_half = i/2
                    print(i,"half number:",num_half)

45 half number: 22.5

In [3]:
for i in range(15,25,3):
     print(i)

15
18
21
24

In [4]:
for i in range(50,100):
    if i%2==0 and i%4==0:
        print(i)

52
56
60
64
68
72
76
80
84
88
92
96

In [5]:
for i in range(100,500):
    if i%7==0 and i%9==0:
        if i%10:
            print(i)

126
189
252
315
378
441

In [6]:
nums = [5, 3, 8, 2]
result = sorted(nums, reverse=True)
print(result)

[8, 5, 3, 2]

In [7]:
d = {"x": 10, "y": 20}
d["z"] = 30
print(d)

{'x': 10, 'y': 20, 'z': 30}